{% extends "base.html.twig" %}


{% block title 'About Us | ' ~ parent() %} 

{% block body %}

    <img src="{{ asset('/img/volverine.jpg') }}"  alt="illustration by me" class="my-12 h-96 mt-12 rounded shadow-md">

    <h1 class="text-gray-700 font-semibold">Développer à Paris. </h1>

    <p class="mt-5">
        <a href="{{ path('app_homepage') }}" class="text-indigo-500 hover:text-indigo-600 underline ">
            Revenir à la page d'acceuil 
        </a>
    </p>

{% endblock %}