{% extends "base.html.twig" %}

{% block body %}
    <img src="{{ asset('/img/drapeau-londres.png') }}" alt="london flag" class="h-32 mt-12 rounded shadow-md">
    <h1 class="mt-5 text-5xl font-semibold text-indigo-600">Hello from London !</h1>
    <p>Il est actuellement {{ 'now' |date('h:i A', 'Europe/London') }}.</p>

   


{% endblock %}